.navbar-header img{
    margin-top: 10px;
}
.scan-type {
    font-weight: 700;
    color: #fff;
}
.container ul li > input {
    margin-right: 5px;
}
.container.main-page ul li, .enter-url-text {
    color:#fff;
}
#scanner-complete-form input {
    margin-left: 5px;
}
.scanning-url-text {
    font-size: 25px;
}
#myProgress {
    width: 100%;
    background-color: #ddd;
}

#myBar {
    width: 10%;
    height: 30px;
    background-color: #ddd;
    /*background-color: #4CAF50;*/
    text-align: center;
    line-height: 30px;
    color: white;
}
#scanner-complete-form{
    display: none;
}
.row{
    background: #2c61ad;
    margin-right: 15px!important;
    margin-left: 15px!important;
    margin-top: 15px!important;
}
.container{
    padding: 50px;
}
.try-url{
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}